$form-main-color: grey;
$grey: grey;
$white: white;
$light-grey: grey;

.white {
   background-color: $white;
}

form {
   p {
      position: relative;
      margin-bottom: 20px;
   }

   em {
      color: $form-main-color;
      font-style: normal;
      z-index: 3;
      text-align: left;
      position: absolute;
      top: 17px;
      left: 15px;
      transition: all .3s ease-in-out;
      font-size: 15px;
      color: #9CA0A2;
      opacity: .7;
      font-family: $main_font;
   }

   input[type="text"],
   input[type="date"],
   input[type="datetime"],
   input[type="email"],
   input[type="number"],
   input[type="tel"],
   input[type="search"],
   input[type="time"],
   input[type="url"],
   input[type="time"],
   input[type="date"],
   textarea,
   select {
      // background: #FFFFFF;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,0.08);
      color: #132024;
      font-weight: 400;
      font-size: 15px;
      z-index: 2;
      position: relative;
      width: 100%;
      padding: 17px 15px;
      outline: none;
      box-sizing: border-box;
      border: none;
      font-family: $main_font;
   }

  label {
     width: 100%;
  }
  input[type="submit"] {
   color: $white;
   font-size: 18px;
   padding: 18px 19px 30px;
   background-image: url(img/black-button.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-color: transparent;
   border: none;
   width: 150px;
   margin-left: auto;
   margin-right: auto;
   display: block;

   &:hover {
     background-color: transparent;
     border: none;
   }
 
   span {
     position: relative;
     bottom: 6px;
   }
  }

   input[type="date"] {
      padding-left: 5.5rem;
      padding-bottom: 5px;
      position: relative;
      top: 3px;
   }

   .wpcf7-checkbox span,
   .wpcf7-radio span {
      font-size: 15px;
      margin-left: 0;
      margin-right: 1.2rem;
   }

   input[type="text"]:focus,
   input[type="date"]:focus,
   input[type="datetime"]:focus,
   input[type="email"]:focus,
   input[type="number"]:focus,
   input[type="tel"]:focus,
   input[type="search"]:focus,
   input[type="time"]:focus,
   input[type="url"]:focus,
   textarea:focus,
   select:focus {
      // border: 1px solid $form-main-color;
   }

   // input checkbox

   input[type=checkbox] {
      -webkit-appearance: none;
      -moz-appearance: none;
   }

   input[type=checkbox]::-ms-check {
      display: none;
   }

   input[type=checkbox] {
      position: relative;
      width: 15px;
      height: 15px;
      border: 1px solid $light-grey;
      vertical-align: -2px;
   }

   input[type=checkbox]::before {
      content: "";
      position: absolute;
      font-size: 14px;
      right: 0;
      top: -0.3em;
      visibility: hidden;
   }

   input[type=checkbox]:checked {
      background-color: $light-red;
   }

   input[type=checkbox]:checked::before {
      visibility: visible;
   }

   // form validation
   span.wpcf7-not-valid-tip {
      color: $light-red;
      line-height: 11px;
      padding-top: 7px;
      font-size: 13px;
   }

   div.wpcf7-validation-errors,
   div.wpcf7-acceptance-missing {
      border: none;
      border-left: 4px solid $light-red;
      color: $light-red;
      font-size: 16px!important;
      padding: 5px 20px;
      margin-top: 0;
      line-height: 18px;
      position: relative;
      top: -38px!important;
   }

   div.wpcf7-mail-sent-ok {
      border: none;
      border-left: 4px solid #578842;
      font-size: 16px !important;
      color: #909090;
      padding: 20px;
      line-height: 18px;
      position: relative;
      top: -38px!important;
   }
}