h1,
h2,
h3,
h4,
h5 {
   font-family: $title_font;
}

h1,
h2 {
   @include fluid-type(font-size, 320px, 1200px, 30px, 48px);
   @include fluid-type(line-height, 320px, 1200px, 33px, 48px);
}

h3 {
   @include fluid-type(font-size, 320px, 1200px, 25px, 30px);
   @include fluid-type(line-height, 320px, 1200px, 28px, 33px);
}

h4 {
   @include fluid-type(font-size, 320px, 1200px, 23px, 26px);
   @include fluid-type(line-height, 320px, 1200px, 25px, 33px);
}

h5 {
   @include fluid-type(font-size, 320px, 1200px, 18px, 22px);
   @include fluid-type(line-height, 320px, 1200px, 22px, 28px);
}

h6 {
   @include fluid-type(font-size, 320px, 1200px, 18px, 20px);
   @include fluid-type(line-height, 320px, 1200px, 22px, 26px);
}

p,
li {
   @include fluid-type(font-size, 320px, 1200px, 14px, 16px);
   font-family: $main_font;
   line-height: 21px;
   color: $main_color;
   font-weight: 400;
}

li {
   margin-bottom: 1.5rem;
   list-style: none;
   position: relative;

   &:before {
      content: "";
      display: inline-block;
      background-image: url('img/history-red-circle.svg');
      background-size: contain;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: -2.3rem;
      top: 4px;
   }
}

ul {
   padding-left: 3rem;
}

a {
   &:hover {
      text-decoration: none;
      color: $dark-red;
   }

   a:active {
      background: transparent !important;
   }
}

hr {
   display: inline-block;
}
 
.wp-block-quote {
      position: relative;
      margin: 0;
      padding: 0;
      max-width: 600px;
      @include push--auto;
      p {
         margin: 0;
         font-size: 18px;
         text-align: center;
         border-width: 0px;
         z-index: 0;
         position: relative;
         margin: 20px 0;
         padding-top: 50px;
         @include fluid-type(padding-bottom, 320px, 990px, 30px, 50px);
      }
   
      &:before {
         content: "";
         background-image: url('img/quote.svg');
         background-size: 100%;
         background-repeat: no-repeat;
         width: 40px;
         height: 40px;
         position: absolute;
         left: 50%;
         top: -2px;
         z-index: 0;
         transform: translateX(-50%);
         -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
      }
   }

