// Small devices (landscape phones, 576px and up)
$small-devices: 576px;

// Medium devices (tablets, 768px and up)
$tablet: 768px;

// Large devices (desktops, 992px and up)
$laptop: 992px;

// Extra large devices (large desktops, 1200px and up)
$desktop: 1200px;

$xdesktop: 1500px;

// font

$main_font: proxima-nova, sans-serif;
$title_font: active, sans-serif;

// color variables
$light-grey: #C4C8C5;
$background: #F1F3EE;
$dark-green: #2F4C55;
$light-green: #8DAAAC;
$main_color: #132024;
$dark-red: #743B38;
$light-red: #BA605B;
$orange: #EE845E;
$white: #fff;

$darker-red: #4A2624;
