 /*=============================================
=            MOBILE FIRST
// Small devices (landscape phones, 576px and up)
$small-devices: 576px;
// Medium devices (tablets, 768px and up)
$tablet: 768px;
// Large devices (desktops, 992px and up)
$laptop: 992px;
// Extra large devices (large desktops, 1200px and up)
$desktop: 1200px;
$xdesktop: 1500px;      =
=============================================*/

 @media only screen and (min-width: 400px) {
    .container {
       width: 90%;
    }
 }

 @media only screen and (min-width: 480px) {
    .calendar-4-col {
       .ajde_evcal_calendar.boxy.box_4 .eventon_list_event {
          width: 100%;
       }
    }

    .calendar-3-col {
       .ajde_evcal_calendar.boxy.box_3 .eventon_list_event {
          width: 100%;
       }
    }
 }

 @media only screen and (min-width: 576px) {
    .horizontal-cart {
       .image {
          height: auto;
       }
    }

    .navbar-brand {
       width: 200px;
    }

    .usefull-links {
       .image {
          height: 246px;
          width: 246px;
          border: 10px solid #fff;
       }
    }

    .background-dark-shape {

       &:before {
          top: -6px;
       }
    }

    .organizations {
       .organization-shape {
          &:before {
             display: block;
          }
       }
    }

    .calendar-4-col {
       .ajde_evcal_calendar.boxy.box_4 .eventon_list_event {
          width: calc(50% - 8px);
       }
    }

    .calendar-3-col {
       .ajde_evcal_calendar.boxy.box_3 div.eventon_list_event {
          margin: 0 4rem 4rem 0 !important;
          width: calc(50% - 2rem);

          &:nth-of-type(2n) {
             margin: 0 0rem 4rem 0 !important;
          }
       }
    }

    #calendar {
       .ajde_evcal_calendar.boxy.boxstyle0 .eventon_events_list .eventon_list_event .evcal_desc {
          padding: 3.3rem 3.3rem 4rem;
       }

       .eventon_filter_dropdown p.select,
       .selecttype .eventon_filter_dropdown p,
       .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line p.select,
       .eventon_filter_dropdown p,
       .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line p {
          padding: 3rem;
       }

       .eventon_sorting_section {
          margin: 2rem 0 7.5rem 0;
       }
    }
 }


 /*----------  Tablet 768px  ----------*/


 @media only screen and (min-width: $tablet) {

    .title-background-red {
       background-image: url(img/background2.svg);
    }

    .title-background-red2 {
       background-image: url(img/title-background2-red.svg);
    }

    .move-content,
    .evo_page_body {
       margin-top: 130px;
    }

    .number-counter {
       .border-box {
          width: 130px;
          height: 130px;
       }
    }

    // blog inner content 
    .alignright,
    .alignleft {
       margin-left: auto;
       margin-right: auto;
       display: block;
    }

    .alignright {
       float: right;
       margin-left: 3rem;
       margin-bottom: 3rem;
    }

    .alignleft {
       float: left;
       margin-right: 3rem;
       margin-bottom: 3rem;
    }

    .single .content-right {
       padding-left: 40px;
    }

    .horizontal-shape,
    .red-frame {
       &:before {
          display: inline-block;
       }
    }

    // board members
    .board-members {
       margin-bottom: 3rem;

       .member {
          >div .label {
             display: block;
          }

          &:nth-of-type(2)>div {
             transform: rotate(-5deg);

             .label {
                top: -27px;
                right: -20px;
             }
          }

          &:nth-of-type(3)>div {
             transform: rotate(2deg);
             top: 34px;

             .label {
                top: -41px;
                right: 104px;
                transform: translateX(-50%);
                transform: rotate(140deg);
             }
          }

          &:nth-of-type(4)>div {
             transform: rotate(5deg);
             bottom: 27px;

             .label {
                top: -22px;
                left: -21px;
                transform: rotate(-73deg);
             }
          }
       }
    }

    .horizontal-cart {
       .inner-content {
          padding: 5rem 5rem 3rem 1rem;
       }
    }

    .latest-news {

       >a:nth-of-type(2) {
          .inner-content {
             padding: 3rem 1rem 3rem 5rem;
          }
       }
    }

    .about {

       >div {

          .title-background-white {
             transform: none;
             -webkit-transform: none;
             -moz-transform: none;
             -ms-transform: none;
             -o-transform: none;
          }

          &:nth-of-type(1),
          &:nth-of-type(3) {
             .title-background-white {
                right: -25px;
                left: inherit;
             }
          }

          &:nth-of-type(2) {
             .title-background-white {
                left: -25px;
             }
          }
       }
    }

    .cta-contact {
       text-align: left;

       .contact-icon {
          width: 122px;
          float: left;
          margin-right: auto;
          margin-left: initial;
          margin-bottom: 0;
          margin-right: 3rem;
       }

       .cta-btn {
          text-align: right;
       }
    }

    .associations {
       .inner-content {
          padding-top: 1.3rem;
       }

       .horizontal-shape {
          &:before {
             display: none;
          }
       }
    }

    .usefull-links {
       .usefull-link-shape {
          background-position: right;
          bottom: 0;
          top: 4px;
          padding: 2rem 3rem 3rem 3rem;
       }

       .row {
          margin-bottom: 6rem;
       }
    }

    .section-modal-form {
       .container {
          flex-direction: row;
       }

       .background-shape-newsletter,
       .background-shape-spender {
          width: calc(50% - 2rem);
          margin-right: 3rem;

          &:nth-of-type(2n) {
             margin-right: 0;
          }
       }
    }

    .modal {
       .modal-content {
          width: 100%;
       }
    }

    .modal-large {
       .modal-content {
          width: 90%;
       }

       .left-line {
          margin-top: 7rem;
       }
    }

    .timeline-history {

       .red-frame,
       .horizontal-shape {
          &:before {
             display: inline-block;
          }
       }

       .image {
          position: relative;
       }

       .horizontal-cart .inner-content {
          padding: 5rem 4rem;
       }
    }

    .sermon-box {
       width: calc(50% - 3rem);
       margin-right: 6rem;

       &:nth-of-type(2n) {
          margin-right: 0;
       }
    }

    .single-ajde_events {
       .eventon_events_list .eventon_list_event .evcal_list_a {
          padding: 4rem 6rem 4rem 9rem;
       }

       .evcal_event_details {
          padding: 5rem 6rem;
       }
    }

    .cd-horizontal-timeline .events-content {
       min-height: 360px;
    }

    .hero {
       height: 92vh;
    }

 }


 /*----------  Laptop 992px  ----------*/


 @media only screen and (min-width: $laptop) {
    .dropdown:hover>.dropdown-menu {
       display: block!important;
    }

    .nav-arrow {
       display: none
    }

    // navigation
    .navbar-expand-lg {
       background-color: transparent;

       .navbar-nav {
          padding: 0;
          box-shadow: none;

          background: transparent;

          .nav-link {
             padding: 22px 15px;
          }
       }
    }

    header {
       [type=button] {
          display: none;
       }
    }

    header .navbar .dropdown-menu {
       background-color: #fff;
       border-radius: 5px;
       box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);

       .nav-link {
          font-size: 13px;
          padding: 13px 10px;
          border: none;
          text-align: left;
       }
    }

    // navigation
    .navbar-expand-lg {
       .navbar-nav .nav-link {
          padding: 15px 15px;
       }
    }

    .site-header {
       padding-top: 10px;
    }


    .contact {
       .row>div {
          display: flex;
          flex-direction: column;
       }

       .contact-wrap {
          width: 370px;
       }

       .title-background-red h5,
       .title-background-red2 h5 {
          padding-left: 9rem;
       }
    }

    .number-counter {

       >.row {
          max-width: 950px;
          @include push--auto;
       }

       .border-box {
          width: 170px;
          height: 170px;
       }
    }

    .latest-news {
       .red-frame {
          &:before {
             width: 210px;
             height: 220px;
          }
       }
    }

    // helper classes
    .view-h {
       img {
          max-width: 100%;
          height: auto;
          width: 100%;
       }
    }

    // blog inner content 
    .two-columns-content div,
    .one-column {
       padding-left: 0;
       padding-right: 0;
    }

    .two-columns-content div,
    .one-column {
       margin-top: 10px;
       margin-bottom: 10px;
    }

    .associations-board {
       margin-top: 5rem;

       .associations-board-card {
          display: flex;
          max-width: 100%;
          width: 100%;
          min-height: 170px;

          >div {
             width: 50%;
          }

          .wrap-img {
             height: 100%;
             padding-bottom: 0;
          }

          .content-card {
             display: flex;
             flex-direction: column;
             justify-content: center;
             padding: 2rem 1rem;
          }
       }
    }

    .associations {
       .inner-content {
          padding-left: 6.6rem;
       }

       .horizontal-shape {
          &:before {
             display: block;
          }
       }
    }

    .usefull-links {
       .usefull-link-shape {
          padding: 5rem 7rem 5rem 7rem;
       }

       .images {
          border: 12px solid #fff;
       }
    }

    .modal-large {
       .modal-content {
          width: 100%;
       }
    }

    .organizations {
       .organization-shape {
          &:before {
             width: 230px;
             height: 230px;
             top: -210px;
          }
       }
    }

    .calendar-4-col {
       .ajde_evcal_calendar.boxy.box_4 .eventon_list_event {
          width: calc(25% - 8px);
       }
    }

    .calendar-3-col {
       .ajde_evcal_calendar.boxy.box_3 div.eventon_list_event {
          margin: 0 8rem 8rem 0 !important;
          width: calc(33.33% - 5.4rem);

          &:nth-of-type(2n) {
             margin: 0 8rem 8rem 0 !important;
          }

          &:nth-of-type(3n) {
             margin: 0 0rem 8rem 0 !important;
          }
       }
    }

    .title-background-red,
    .title-background-red2 {
       h5 {
          text-align: left;
          padding-left: 6rem;
       }
    }
 }

 @media only screen and (min-width: 1150px) {
    .container {
       width: 100%;
    }

    .section-modal-form {
       .inner-content {
          width: 80%;
       }

       .icon {
          width: 20%;
       }

       .background-shape-newsletter,
       .background-shape-spender {
          width: calc(50% - 3.5rem);
          margin-right: 7rem;
       }

       .background-shape-newsletter {
          padding: 4rem;
          margin-bottom: 0rem;
       }

       .background-shape-spender {
          padding: 4rem 4rem 6rem;
       }
    }

    .cd-horizontal-timeline .timeline {
       margin-bottom: 9rem;
    }

    .cd-timeline-navigation {
       top: 50%;
       justify-content: space-between;

       a {
          width: auto;
       }
    }
 }

 /*----------  Desktop 1200px  ----------*/


 @media only screen and (min-width: $desktop) {

    html {
       font-size: 62.5%;
    }

    .navbar-brand {
       width: auto;
    }

    // navigation
    .navbar-expand-lg {

       .nav-link {
          padding: 22px 25px;
       }
    }

    .close {
       position: fixed;
       top: 50px;
       right: 50px;
    }

    .usefull-links {
       .usefull-link-shape {
          position: relative;
          z-index: -1;
          right: 20px;
          top: 10px;
       }
    }

    .scroll {
       width: 63px;
       height: 63px;
    }

    .associations-board {
       margin-left: 4.6rem;
    }

    .associations {
       .row>div {
          &:nth-of-type(1) {
             padding-right: 5rem;
             position: relative;

             &:before {
                content: "";
                background-image: url('img/vertical-line.png');
                height: 100%;
                width: 3px;
                position: absolute;
                top: 0;
                right: -12px;
             }
          }

          &:nth-of-type(2) {
             padding-left: 5rem;
          }
       }
    }

    .map-wrap {
       mask-size: 100% auto;
    }

 }