/*----------  Base  ----------*/


*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 48%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  counter-reset: section;
  font-family: $main_font;
  background-color: $background;
  font-size: 40%;
}

img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:active {}
}

input[type="text"],
input[type="search"] {
  font-size: inherit;
  line-height: inherit;
}


/* ============ LAYOUT =========*/

.container {
  max-width: 1050px;
}


.section {
  @include fluid-type(padding-top padding-bottom, 320px, 600px, 6rem, 10rem);

  &:nth-of-type(2) {
    padding-top: 3rem;
  }
}

/*----------  Helper classes  ----------*/


@mixin aspect-ratio($padding) {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: $padding;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bold {
  font-weight: 700;
}


.margin-top {
  margin-top: 8rem;
}

/*----------  Helper style classes  ----------*/
.color-white {
  color: $white;
}

.color-red {
  color: $dark-red;
}

.color-orange {
  color: $orange;
}

.color-light-red {
  color: $light-red;
}

.color-green {
  color: $dark-green;
}

.color-light-green {
  color: $light-green;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.white-border {
  border: 10px solid #fff;
}

.aspect-1-1 {
  @include aspect-ratio(95%);
  box-sizing: border-box;

  img {
    max-width: initial;
    width: auto;
    height: 100%;
  }
}

.move-content,
.evo_page_body {
  margin-top: 80px;
}

.margin-b {
  @include fluid-type(margin-bottom, 320px, 1200px, 30px, 60px);
}

.left-line {
  border-left: 2px solid #D7D9D7;
}

%red-shape {
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    background-image: url(img/red-frame.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -15px;
    right: -12px;
    width: 64%;
    height: 60%;
  }
}

.vertical-shape,
.horizontal-shape {
  position: relative;

  &:before {
    content: "";
    display: block;
    background-repeat: repeat;
    position: absolute;
    z-index: 1;
  }
}

.vertical-shape {
  &:before {
    background-image: url(img/vertical-shape.svg);
    height: 30px;
    width: 100%;
    bottom: -20px;
    left: 0;
  }
}

.horizontal-shape {

  &:before {
    background-image: url(img/shape-horizontal.svg);
    right: 0px;
    top: 0;
    width: 40px;
    height: 100%;
    display: none;
  }
}

.background-shape {
  background-image: url(img/background-shape.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.background-circle1 {
  background-image: url(img/background-circle1.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.background-circle2 {
  background-image: url(img/background-circle2.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.background-circle3 {
  background-image: url(img/background-circle3.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.background-circle4 {
  background-image: url(img/background-circle4.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.relative {
  position: relative;
}

.line {
  background-image: url(img/line.png);
  background-repeat: no-repeat;
  background-position: top center;
}


/*----------  Button style  ----------*/

.btn-pdf {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url(img/pdf-btn.svg);
  padding: 28px 30px 42px 80px;
  position: relative;
  font-size: 18px;
  margin-top: 4rem;
  color: #fff;
  display: inline-block;

  &:before {
    content: "";
    background-image: url('img/download-icon.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 23px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 43%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  &:hover {
    color: #fff;
  }
}

.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle {
  background-color: transparent;
  border: none;
}

.btn-dark:not(:disabled):not(.disabled).active:focus, 
.btn-dark:not(:disabled):not(.disabled):active:focus, 
.show>.btn-dark.dropdown-toggle:focus {
  box-shadow: none;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: 0;
}

.btn {
  font-size: 18px;
  padding: 28px 30px 42px;
  line-height: 18px;
}

.btn-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 190px;
}

.btn-right {
  text-align: right;
}

.btn-link {
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: $light-red;
  padding-right: 6px;

  &:after {
    content: '';
    background-image: url('img/btn-link-arrow.svg');
    width: 25px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -22px;
  }

  &:hover {
    text-decoration: none;
    color: $dark-red;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}

.btn-dark,
.btn-red,
.btn-orange {
  background-color: transparent;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border: none;

  &:hover {
    background-color: transparent;
    border: none;
  }

  span {
    position: relative;
    bottom: 6px;
  }
}

.btn-dark {
  background-image: url(img/black-button.png);
}

.btn-red {
  background-image: url(img/btn-red.svg);
  color: $white;
}

.btn-orange {
  background-image: url(img/btn-orange.png);
  color: $white;
}



/*----------  Pagination  ----------*/



// pagination
.pagination {
  margin-top: 20px;
  margin: 4rem auto;

  .screen-reader-text {
    display: none;
  }
}

.pagination i {
  display: inline-block;
}

.pagination .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.pagination .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.pagination .nav-links {
  margin: 0 auto;
  display: flex;
}

.pagination .nav-links span,
.pagination .nav-links a {
  font-family: $main_font;
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  font-weight: 700;
  width: 50px;
  height: 50px;
  color: $dark-red;
  cursor: pointer;
}

.pagination .nav-links a:hover i {
  color: #fff;
}

.pagination .nav-links .page-numbers {

  &.prev,
  &.next {
    font-size: 14px;
  }
}

.pagination .page-numbers {
  position: relative;

  &:after {
    content: "";
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
  }

  &.next:after {
    background-image: url(img/arrow-right.svg);
    right: -38px;
  }

  &.prev:after {
    background-image: url(img/arrow-left.svg);
    left: -38px;
  }
}

.pagination .page-numbers.current {
  background-image: url('img/pagination-background.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
}

.pagination .page-numbers.current:hover {
  opacity: .9;
}


/*----------  Scroll to top button  ----------*/


.scroll {
  background-image: url('img/scroll-background.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;

  &:after {
    content: "";
    background-image: url('img/arrow-top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28px;
    height: 40px;
  }
}


/*----------  Blog inner content  ----------*/


.alignright {
  margin-left: 4.2rem;
  margin-bottom: 4.2rem;
}

.alignleft {
  margin-right: 4.2rem;
  margin-bottom: 4.2rem;
}

/*----------  Navigation  ----------*/


.nav-arrow {
  position: absolute;
  top: 0;
  right: 0;
  right: calc(50% - 100px);
  left: initial;
  padding: 15px;
  cursor: pointer;

  i {
    border: solid $main-color;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0 10px;

  }

}

.dropdown-toggle::after {
  display: none;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  &:before {
    content: "";
    width: 100%;
    height: 210px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, rgba(241, 243, 238, 0.00) 0%, #F1F3EE 73%);
  }

  .menu-item {
    &:active {
      background-color: transparent;
    }
  }

}

header {
  [type=button] {
    display: block;
  }
}

.navbar-brand,
.navbar-collapse {
  z-index: 1;
}

.navbar-brand {
  width: 180px;
  margin: 7px 0;
}

header .navbar {
  li {
    margin-bottom: 0;

    &:before {
      display: none;
    }
  }

  &.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1290px;
  }

  .nav-link {
    font-size: 15px;
    font-family: $main-font;
    font-weight: 500;
    padding: 15px 0;
    color: $main_color;
    text-transform: uppercase;
    // border-bottom: 2px solid #D8D8D8;
    text-align: center;

    &:hover {
      //border-bottom: 2px solid $light-red;
      transition: border .5s;
      color: $light-red;
      transition: all .5s linear;
      -webkit-transition: all .5s linear;
      -moz-transition: all .5s linear;
      -ms-transition: all .5s linear;
      -o-transition: all .5s linear;
    }
  }
}

.navbar-toggler-icon {
  height: initial;
  width: 35px;

  span {
    width: 30px;
    height: 2px;
    display: inline-block;
    background-color: $dark-red;
    margin: 2px 0;
  }
}

.navbar-expand-lg {
  background-color: $background;
  z-index: 2;

  .navbar-nav {
    padding: 4rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    border: 5px;
  }
}

header .navbar .dropdown-menu .nav-link {
  font-size: 13px;
}

header .navbar .dropdown-menu {
  background-color: $background;
  border: none;

  .nav-link {
    border: none;
    padding: 10px;
  }
}

.navbar-nav .current_page_item {
  >a {
    color: $light-red;
    border-color: $light-red;
  }
}

.hero {
  height: 85vh;
  min-height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    background-image: url(img/hero-cover.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 180px;
  }
}

.home {
  .hero {
    &:before {
      background-image: url(img/hero-home-cover2.png);
      left: -63px;
      bottom: -6px;
      right: -110px;
      z-index: 2;
      width: 123%;
      height: 290px;
    }
  }
}


/*=============================================
=            Home page section            =
=============================================*/



.section-title {
  @include fluid-type(padding-bottom, 320px, 1200px, 4rem, 8rem);
}

.red-frame {
  @extend %red-shape;
}

.about-section {
  .row {
    @include fluid-type(padding-bottom, 320px, 1200px, 40px, 100px)
  }

  .img-wrap {
    @include aspect-ratio(93%);
    width: 77%;
    box-shadow: 0 64px 64px 0 rgba(0, 0, 0, 0.08), 0 32px 32px 0 rgba(0, 0, 0, 0.08), 0 16px 16px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  }

  p {
    padding-left: 6.6rem;
    @include fluid-type(margin-top margin-bottom, 320px, 1200px, 5px, 20px);
  }

  strong {
    color: $light-red;
  }
}

/*----------  Number counter section  ----------*/


.number-counter {
  .border-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 130px;
  }

  .number-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .count {
    color: $white;
    font-weight: 700;
    font-family: $main_font;
  }
}

.organizations {
  strong {
    color: $light-red;
  }

  .organization-shape {
    background-image: url('img/organization-background-shape.png');
    padding: 2.3rem 4rem 5rem;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

    &:before {
      content: "";
      background-image: url('img/organization-shape.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-size: 100% 100%;
      position: absolute;
      width: 140px;
      height: 140px;
      top: -130px;
      left: -40px;
      z-index: -1;
      display: none;
    }
  }

  .btn-link {
    display: block;
    text-align: right;
    padding-right: 10px;
    margin-right: 30px;
    margin-top: 10px;
  }
}

.background-modal {

  &:before {
    content: "";
    display: inline-block;
    filter: blur(5px);
    background: rgba(47, 76, 85, 0.90);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.background-dark-shape {
  position: relative;
  background-color: $dark-green;

  &:after,
  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 10px;
    position: absolute;
    background-size: 100%;
  }

  &:before {
    background-image: url('img/shape-top.svg');
    top: -3px;
    left: 0;
  }

  &:after {
    background-image: url('img/shape-bottom.svg');
    bottom: -3px;
    left: 0;
  }
}


/*----------  Section modal box, newsletter and spender  ----------*/



.section-modal-form {
  position: relative;

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .icon,
  .inner-content {
    position: relative;
  }

  .icon {
    max-width: 59px;
    bottom: -6px;
    width: 20%;
    margin-right: 3rem;
  }

  .inner-content {
    width: 80%;
  }

  .background-shape-newsletter,
  .background-shape-spender {
    cursor: pointer;
    max-width: 500px;
    background-image: url('img/background-shape-newsletter.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    margin-bottom: 20px;
    position: relative;
    display: flex;

    &:hover {
      h4 {
        color: $dark-red;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
        -ms-transition: all .5s linear;
        -o-transition: all .5s linear;
      }

    }

  }

  .background-shape-spender {
    background-image: url('img/background-shape-spender.png');
    padding: 3rem 3rem 5rem;
  }
}


/*----------  Modal box  ----------*/



.modal {
  .modal-content {
    background: #F1F3EE;
    border-radius: 20px;
    @include fluid-type(padding-top, 320px, 1450px, 20px, 40px);
    @include fluid-type(padding-left padding-right, 320px, 1450px, 20px, 75px);
    @include push--auto;
    width: 90%;
  }

  .wrap-icon {
    width: 50px;
    margin-bottom: 7px;
  }

  .modal-title {
    padding-bottom: 25px;
  }

  form input[type="submit"] {
    background-image: url(img/btn-orange.png);
    margin-left: auto;
    margin-right: 0;
    padding: 21px 30px 30px;
  }

  .container {
    padding: 0;
  }

  button.close {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.modal-large {
  .modal-content {
    @include fluid-type(padding-bottom, 320px, 1450px, 20px, 40px);
  }

  .modal-dialog {
    max-width: initial;
    max-width: 790px;
  }

  .account {
    font-size: 14px;
  }
}



/*----------  Board memeber section  ----------*/

.board-members {
  h3 {
    @include fluid-type(font-size, 320px, 1200px, 28px, 36px);

  }

  .member>div {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 16px;
    max-width: 300px;
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    @include push--auto;

    h4 {
      color: $darker-red;
      margin: 1rem 0 0;
    }

    span {
      font-size: 12px;
      color: $light-red;
    }

    .label {
      position: absolute;
      width: 85px;
      display: none;
    }
  }
}

/*----------  About us section  ----------*/

.title-background {
  position: relative;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  h5 {
    @include fluid-type(padding-bottom padding-top, 320px, 1200px, 20px, 14px);
    padding-left: 65px;
    color: $dark-green;
  }
}

.title-counter {
  &:before {
    counter-increment: section;
    content: "0"counter(section);
    font-family: $title_font;
    @include fluid-type(font-size, 320px, 1200px, 30px, 40px);
    color: $light-grey;
    position: absolute;
    left: 0;
    @include fluid-type(top, 320px, 1200px, -4px, -22px);
  }
}

.title-background {
  &:nth-of-type(4n + 1) {
    background-image: url('img/title-background.svg');
  }

  &:nth-of-type(2n+2) {
    background-image: url('img/title-background2.svg');
  }

  &:nth-of-type(3n+3) {
    background-image: url('img/title-background3.svg');
  }
}

.horizontal-cart {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
  margin-left: 15px;
  margin-right: 15px;

  .inner-content {
    background-color: #fff;
    padding: 2rem;
  }

  .image {
    height: 250px;
  }

  .btn-link {
    margin-right: 4rem;
  }
}

#map {
  position: abosolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.map-wrap {
  position: relative;
  max-height: 700px;
  height: 80vh;
  overflow: hidden;
  padding: 0;
  mask-image: url(img/mapa-shape2.png);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.date {
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
}


/*----------  Latest news   ----------*/



.latest-news {
  .red-frame {
    &:before {
      width: 120px;
      height: 130px;
      transform: rotate(-180deg);
      left: -10px;
      top: -10px;
      z-index: 999;
    }

    >div {
      height: 100%;
    }
  }

  .horizontal-shape {
    filter: saturate(0.4);
  }

  >a:nth-of-type(2) {
    flex-direction: row-reverse;

    .horizontal-shape:before {
      left: -10px;
      transform: rotate(180deg);
    }

    .red-frame {
      &:before {
        transform: rotate(270deg);
        right: -6px;
        left: unset;
        top: -15px;
      }
    }
  }
}


/*----------  Map page  ----------*/

.map.section {
  @include fluid-type(padding-top, 320px, 1200px, 2rem, 4rem);
}

.map {
  h3 {
    padding-top: 6rem;
  }
}

.map-border {
  background-size: 100% 100%;
  padding: 0px;
  background-image: url(img/map-shape-europe.png);
  height: 0;
  padding-bottom: 68%;
  padding-left: 6px;
  padding-right: 6px;
  margin: 6rem 0 9rem;
}

.map-shape {
  position: relative;
  height: 0;
  padding-bottom: 67.5%;
  mask-image: url(img/map-shape-europe.svg);
  mask-repeat: no-repeat;
  mask-size: 100%;

  iframe {
    position: absolute;
    top: -46px;
    width: 100%;
    height: 120%;
  }
}

/*----------  News page  ----------*/

.news-page {
  .horizontal-shape {
    height: 100%;
  }

  .red-frame {
    &:before {
      display: none;
    }
  }
}



/*----------  Single post  ----------*/

.single-post {
  .container {
    max-width: 1290px;
  }

  .news-page {
    max-width: 1180px;
    @include push--auto;
  }
}

.post-hero {
  max-height: 590px;
  height: 70vh;
  min-height: 400px;
  mask-image: url(img/post-hero2.png);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.post-inner-content {
  position: relative;
  top: -7rem;
  @include fluid-type(padding-top, 320px, 990px, 2.5rem, 6rem);
  max-width: 1150px;
  width: 90%;
  @include push--auto;
  background-color: #fff;
  @include fluid-type(padding, 320px, 990px, 2.5rem, 6rem);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);

  .date {
    font-size: 16px;
    color: #666666;
    text-align: center;
    display: block;
  }

  strong {
    color: $light-red;
  }

  li strong {
    font-weight: 500;
    color: $dark-red;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 0 25px;
  }

  p {
    margin-bottom: 15px;
    line-height: 22px;
  }

  .wp-block-columns,
  .two-columns-content {
    margin: 3rem 0;
  }
}

.post-title {
  color: $dark-red !important;
  margin-bottom: 2.5rem;
}

.post-author {
  padding-top: 3rem;
}

.post-author-wrap {
  width: 56px;
  height: 56px;
  position: relative;
  float: left;
  margin-right: 20px;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    max-height: 100%;
  }
}

.wp-block-pullquote {
  max-width: 530px;
  padding-top: 0;
  padding-bottom: 5.5rem;
  @include fluid-type(padding-bottom, 320px, 990px, 3.5rem, 5.5rem);
  margin-bottom: 0;
  @include push--auto;

  p {
    color: $light-red;
    @include fluid-type(font-size, 320px, 990px, 20px, 30px);
    @include fluid-type(line-height, 320px, 990px, 24px, 36px);
    font-family: $title_font;
  }
}

li.blocks-gallery-item {
  &:before {
    display: none;
  }
}

.wp-block-file {
  margin: 5rem 0;

  .wp-block-file__button {
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: none;
    background-image: url(img/pdf-btn.svg);
    padding: 28px 30px 42px 80px;
    position: relative;
    font-size: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;

    strong {
      color: #fff;
    }

    &:before {
      content: "";
      background-image: url('img/pdf-icon.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      width: 23px;
      height: 30px;
      display: inline-block;
      position: absolute;
      left: 40px;
      top: 43%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
}

/* ========= Associations ========= */

.associations {
  .row>div {
    .title-background {
      &:before {
        font-family: $title_font;
        @include fluid-type(font-size, 320px, 1200px, 30px, 40px);
        color: $light-grey;
        position: absolute;
        left: 0;
        @include fluid-type(top, 320px, 1200px, -4px, -22px);
      }

    }

    &:nth-of-type(1) {
      .title-background {
        &:before {
          content: "MEM";
        }
      }
    }

    &:nth-of-type(2) {
      .title-background {
        &:before {
          content: "OPS";
        }
      }
    }
  }

  .inner-content {
    padding-left: 3rem;
    padding-bottom: 2rem;
  }

  p {
    margin-bottom: 2rem;
  }

  strong {
    color: $light-red;
  }

  .btn {
    width: 213px;
    margin-top: 3rem;
  }
}

.associations.container {
  max-width: 1200px;
}

.associations-board {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .associations-board-card {
    min-width: 300px;
    margin: 2rem;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }

  .horizontal-shape {
    &:before {
      width: 20px;
    }
  }

  .wrap-img {
    height: 0;
    @include aspect-ratio(95%);
    position: relative;
    overflow: hidden;
  }

  .content-card {
    padding: 2rem;

    p {
      margin: 0;
      font-size: 14px;
    }

    h5 {
      color: $dark-red;
      @include fluid-type(font-size, 320px, 1200px, 20px, 24px);
    }

    span {
      color: $light-red;
      font-size: 14px;
    }

    hr {
      border: none;
      position: relative;
      width: 100%;

      &:before {
        content: "";
        width: 35px;
        height: 3px;
        background-image: url('img/hr-line.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
      }
    }

    a {
      font-size: 14px;
      color: $main-color;
    }
  }
}



/*----------  Usefull links page  ----------*/


.usefull-links {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  >a {
    .usefull-link-shape {
      background-image: url('img/usefull-link-shape1.svg');
    }
   
    &:nth-of-type(4n + 1) {
      .usefull-link-shape {
        background-image: url('img/usefull-link-shape1.svg');
      }

    }

    &:nth-of-type(2n+2) {
      .usefull-link-shape {
        background-image: url('img/usefull-link-shape2.svg');
      }
    }

    &:nth-of-type(3n+3) {
      .usefull-link-shape {
        background-image: url('img/usefull-link-shape3.svg');
      }
    }
  }

  .usefull-link-shape {
    background-size: cover;
    background-position: right;
    z-index: -1;
    top: -20px;
    background-position: center bottom;
    position: relative;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem 9rem 3rem;
  }

  .image {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    height: 200px;
  }

  .btn-link {
    margin-right: 25px;
  }
}

.btn-dark.focus,
.btn-dark:focus {
  border: none;
  box-shadow: none;
}

.cta-contact.section {
  padding: 7rem 0;
}

.cta-contact {
  text-align: center;

  .btn {
    margin-top: 2rem;
  }

  .contact-icon {
    width: 122px;
    @include push--auto;
    margin-bottom: 3rem;
  }

}

.error404 {
  .post-inner-content {
    top: 0;
  }
}

/*----------  Contact page  ----------*/

.page-template-contact,
.single-ajde_events,
.page-template-map,
.ajde-events,
.error404 {
  .site-header {
    &:before {
      display: none;
    }
  }
}

.title-background-red,
.title-background-red2 {
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h5 {
    @include fluid-type(padding-bottom padding-top, 320px, 1200px, 10px, 20px);
    padding: 1.5rem 3.5rem;
    color: #F1F3EE;
    text-align: center;
  }
}

.title-background-red {
  background-image: url(img/title-background-red2.png);
}

.title-background-red2 {
  background-image: url(img/title-background2-red.png);
}

.title-background-white {
  @include fluid-type(background-size, 320px, 990px, cover, contain);
  background-repeat: no-repeat;
  background-image: url(img/background-title-white.png);
  @include fluid-type(padding-top padding-bottom, 320px, 1200px, 18px, 24px);
  @include fluid-type(padding-left padding-right, 320px, 1200px, 60px, 60px);
}

.pin-icon {
  display: inline-block;
  width: 8px;
}


.contact.container {
  max-width: 1160px;
}

.contact {
  .contact-wrap {
    max-width: 370px;
    @include push--auto;
    @include fluid-type(padding-top, 320px, 1450px, 20px, 40px);
    position: relative;
    z-index: 0;
  }

  li {
    @include fluid-type(padding-bottom, 320px, 1450px, 20px, 55px);
  }

  .tel {
    font-weight: 700;
    font-size: 15px;
    color: $light-red;
  }
}



/*----------  About us page  ----------*/



.about {

  .image-wrap {
    position: relative;
    margin-bottom: 70px;
    max-width: 350px;
    margin-top: 20px;

    &.height {
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .title-background-white {
    background-size: 100%;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
    padding-top: 32px;
    padding-bottom: 36px;
    padding-left: 15px;
    padding-right: 15px;
    min-width: 250px;
    width: auto;
    bottom: -51px;

    h5 {
      color: $main_color;
      margin-bottom: 0;
      line-height: 16px;
    }
  }
}

.pastor {
  .card {
    max-width: 270px;
    margin-bottom: 30px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
  }

  .wrap-img {
    @include aspect-ratio(95%);
  }

  .content-card {
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;

    h5 {
      color: $dark-red;
    }

    p {
      font-size: 14px;
    }

    a {
      font-size: 14px;
      color: $main-color;
    }

    hr {
      border: none;
      position: relative;
      width: 100%;

      &:before {
        content: "";
        width: 35px;
        height: 3px;
        background-image: url('img/hr-line.svg');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }

    }

    span {
      color: $light-red;
      font-size: 14px;
    }
  }

}



/*----------  Sermons  ----------*/

.video-wrap,
.wp-block-video {
  position: relative;
  padding-bottom: 56.2%;
  height: 0;

  iframe,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.sermons-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .icon {
    width: 30px;
    display: inline-block;
  }
}

.sermon-box {
  margin-bottom: 6rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  max-width: 510px;
  width: 100%;
  position: relative;
  padding-bottom: 6rem
}

.sermon-header {
  background-color: #fff;
  padding: 4.4rem 3rem 4.4rem 6.5rem;
  height: 100%;

  h3 {
    margin-bottom: 2.2rem;
  }

  p {
    font-size: 14px;
    line-height: 18px;
  }

  .date {
    margin-bottom: 6px;
  }
}

.sermon-footer {
  padding: 1.8rem 3rem;
  background-color: $light-red;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;

  &:before {
    content: "";
    background-image: url('img/shape-line-red.svg');
    background-repeat: repeat;
    background-position: bottom;
    width: 100%;
    height: 11px;
    position: absolute;
    top: -5px;
    left: -5px;
    display: inline-block;
  }

  .btn-link {
    color: #fff;
    float: right;
    margin-right: 3rem;
    margin-top: 5px;

    &:after {
      background-image: url('img/btn-link-arrow-white.svg');
      top: 51%;
      right: -28px;

    }
  }

  .icon {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 1.5rem;
    cursor: pointer;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  @include fluid-type(margin-bottom, 320px, 600px, 3rem, 6rem);

  .btn-secondary:not(:disabled):not(.disabled).active,
  .btn-secondary:not(:disabled):not(.disabled):active,
  .show>.btn-secondary.dropdown-toggle {
    background-color: #fff;
    color: $dark-green;
    border: none;
    border-bottom: 2px solid $light-red;

  }

  .dropdown {
    @include fluid-type(margin-right, 320px, 600px, 3rem, 6rem);
    width: auto;

    button {
      background: #FFFFFF;
      padding: 2.5rem;
      @include fluid-type(padding, 320px, 768px, 1.2rem, 2.5rem);
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
      @include fluid-type(font-size, 320px, 768px, 12px, 15px);
      font-weight: 600;
      border: 5px;
      font-family: $main_font;
      text-transform: uppercase;
      color: $dark-green;
      border: none;

      &:after {
        content: "";
        background-image: url('img/arrow-down.svg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 14px;
        height: 14px;
        display: inline-block;
        border: none;
        vertical-align: middle;
        margin-left: 8px;
      }
    }

    .dropdown-menu {
      padding-bottom: 0;
    }

    .dropdown-item {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 12px;
      font-weight: 500;

      &:after {
        display: none;
      }
    }
  }
}



/*----------  Sermons single  ----------*/


.modal.modal-post {
  background: rgba(47, 76, 85, 0.9);

  .modal-dialog {
    max-width: 1150px;
    margin-top: 10rem;
    border-radius: 20px;
    overflow: hidden;
  }

  .modal-content {
    padding: 0;
    overflow: hidden;
    width: 90%;
  }

  .post-inner-content {
    width: 100%;
    top: 0;
  }

}



/*=============================================
=            EventOn Calendar            =
=============================================*/



.page-template-events {
  .site-header:before {
    display: none;
  }
}

#calendar.container {
  max-width: 1100px;
}

.calendar-col-3 {
  &.container {
    max-width: 1100px;
  }

  .ajde_evcal_calendar.boxy .eventon_list_event,
  #calendar .ajde_evcal_calendar.boxy .evoShow_more_events {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

#calendar {

  .eventon_events_list .eventon_list_event .evcal_desc .evcal_time::before,
  .evo_pop_body .evcal_desc em.evcal_time::before,
  .eventon_events_list .eventon_list_event .evcal_desc .evcal_location::before,
  .evo_pop_body .evcal_desc em.evcal_location::before,
  .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_subtitle::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 4px;
    display: inline-block;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #90ABAC;
  }

  .evo_beichte {
    span.evcal_event_title {

      color: $dark-green !important;
    }

    .evcal_desc .evcal_time::before,
    .evcal_desc em.evcal_time::before,
    .evcal_desc .evcal_location::before,
    .evcal_desc em.evcal_location::before,
    .evcal_desc span.evcal_event_subtitle::before {
      background-color: $dark-green !important;
    }
  }

  .evo_gottesdienste {
    span.evcal_event_title {
      color: $light-red !important;
    }

    .evcal_desc .evcal_time::before,
    .evcal_desc em.evcal_time::before,
    .evcal_desc .evcal_location::before,
    .evcal_desc em.evcal_location::before,
    .evcal_desc span.evcal_event_subtitle::before {
      background-color: $light-red !important;
    }
  }


  .evo_anbetungen {
    span.evcal_event_title {
      color: $orange !important;
    }

    .evcal_desc .evcal_time::before,
    .evcal_desc em.evcal_time::before,
    .evcal_desc .evcal_location::before,
    .evcal_desc em.evcal_location::before,
    .evcal_desc span.evcal_event_subtitle::before {
      background-color: $light-red !important;
    }
  }

  .btn {
    padding: 15px 40px 39px;
  }

  .evcal_cblock .evo_end em.day,
  .evcal_cblock .evo_end em.date,
  .evcal_cblock .evo_end em.month {
    font-size: 16px;
  }

  .evcal_cblock .evo_start em.day {
    opacity: .5;
  }

  .evcal_cblock .evo_end em.date {
    margin-bottom: 0;
  }

  /*----------  eventOn show more button  ----------*/


  .ajde_evcal_calendar.boxy .evoShow_more_events:before {
    content: "";
  }

  .evoShow_more_events {
    width: 230px !important;
    margin: 6rem auto 3rem auto !important;
    display: block;
    padding: 20px 0 35px;
    background: transparent;
    width: 100%;
    float: none;
    clear: both;
    height: auto;
    line-height: 30px;
    background-image: url('img/black-button.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff;
    text-transform: none;
    font-size: 18px;
  }

  .eventon_events_list .evoShow_more_events:hover {
    opacity: .9;
  }

  .eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info,
  .evo_pop_body .evcal_desc .evcal_desc_info {
    opacity: 1;
  }

  /*----------  EventOn arrow  ----------*/


  #evcal_list .eventon_list_event p.no_events {
    font-size: 16px;
    color: $darker-red;
    padding: 0;
    margin: 0;
  }

  .fa-angle-right:before,
  .fa-angle-left:before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .fa-angle-left:before {
    background-image: url(img/arrow-left.svg);
  }

  .fa-angle-right:before {
    background-image: url(img/arrow-right.svg);
  }

  .ajde_evcal_calendar .calendar_header .evcal_arrows {
    background-color: transparent;
    border: none;
  }

  .evo_cal_above span.evo-gototoday-btn {
    color: $light-red;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    padding: 0 0 1rem;
    opacity: 1;

    &:hover {
      color: $dark-red;
    }
  }

  .ajde_evcal_calendar.boxy .eventon_list_event:hover {
    opacity: 1;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }

  .ajde_evcal_calendar .eventon_events_list p,
  .eventon_events_list .eventon_list_event .evcal_desc span,
  .evo_pop_body .evcal_desc span,
  .eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle,
  .evo_pop_body .evcal_desc span.evcal_event_subtitle,
  .ajde_evcal_calendar .eventon_list_event .event_description .evcal_btn,
  .evo_pop_body .evcal_btn,
  .evcal_btn,
  .eventon_events_list .eventon_list_event .cancel_event .evo_event_headers,
  .evo_pop_body .evo_event_headers.canceled,
  .eventon_events_list .eventon_list_event .evcal_list_a .evo_above_title span,
  .evo_pop_body .evcal_list_a .evo_above_title span,
  .evcal_evdata_row.evcal_event_details .evcal_evdata_cell p,
  #evcal_list .eventon_list_event .evoInput,
  .evo_pop_body .evoInput,
  .evcal_evdata_row .evcal_evdata_cell p,
  #evcal_list .eventon_list_event p.no_events,
  .ajde_evcal_calendar .eventon_events_list .eventon_desc_in ul,
  .evoGuideCall em,
  .evo_cal_above span,
  .ajde_evcal_calendar .calendar_header .evo_j_dates .legend,
  .eventon_sort_line p,
  .eventon_filter_line p {
    font-family: $main-font;
  }

  .ajde_evcal_calendar.boxy .eventon_list_event,
  .ajde_evcal_calendar.boxy .evoShow_more_events {
    height: 100%;
    margin: 0 4px 2rem;
    overflow: hidden;
    max-height: 319px;
  }

  .evo_start {
    font-family: $title-font;
  }

  .evcal_cblock .evo_start {
    em.date {
      font-size: 40px;
      margin-bottom: 0;
      font-weight: 400;
    }

    em.month {
      font-size: 26px;
      opacity: .5;
      font-weight: 400;
    }

    em.day {
      font-size: 16px;
    }
  }

  .ajde_evcal_calendar.boxy.boxstyle0 .eventon_list_event .evcal_list_a {
    padding: 0;
  }

  .ajde_evcal_calendar.boxy.boxstyle0 .eventon_events_list .eventon_list_event .evcal_desc {
    padding: 3.3rem 3rem 4rem;
  }

  .ajde_evcal_calendar.boxy.boxstyle0 .eventon_events_list .eventon_list_event .evcal_cblock {
    padding: 2rem 3rem 2rem;
    position: relative;

    &:before {
      content: "";
      background-image: url('img/background-blur.png');
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }

  .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title {
    color: #8FAAAB;
    margin-bottom: 1.3rem;
  }

  .eventon_events_list .eventon_list_event .evcal_desc,
  .evo_pop_body .evcal_desc,
  #page-content p.evcal_desc {
    background: #fff;
    display: inline-block;
    width: 100%;
    height: 210px;
  }

  .eventon_events_list {
    .eventon_list_event {
      border-radius: 5px;
    }
  }

  .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_subtitle {
    padding-bottom: 1.3rem;
  }

  .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc em.evcal_time,
  .ajde_evcal_calendar.boxy #evcal_list .eventon_list_event .evcal_desc span.evcal_event_subtitle {
    font-size: 14px;
    font-weight: 400;
    color: $dark-green;
    text-transform: none;
    position: relative;
    padding-left: 15px;
    margin-right: 5px;
  }

  .eventon_filter_dropdown,
  .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line {
    display: flex !important;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08), 0 8px 8px 0 rgba(0, 0, 0, 0.08);
    border: none;
  }

  .eventon_sorting_section {
    padding: 0;
    margin: 2rem 0 4rem 0;
  }


  .eventon_sorting_section {
    display: block !important;
  }

  &.remove-filter {

    .eventon_sorting_section {
      display: none !important;
    }

    .calendar_header {
      display: none;
    }
  }

  .filtering_set_val,
  .evo-filter-btn {
    display: none;
  }

  .eventon_filter_dropdown p.select,
  .selecttype .eventon_filter_dropdown p,
  .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line p.select,
  .eventon_filter_dropdown p,
  .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line p {
    background-color: #fff;
    padding: 3rem;
    padding: 1rem;
    padding: 7px;
    @include fluid-type(font-size, 320px, 990px, 12px, 15px);
    text-transform: uppercase;
    color: $dark-green;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    border-left: none;
    z-index: 0;
  }

  .eventon_filter_line .eventon_filter_dropdown p.select:before,
  .eventon_filter_line.selecttype .eventon_filter_dropdown p:before,
  .ajde_evcal_calendar .evo-sort-btn .eventon_sort_line p.select:before {
    display: none;
  }

  .eventon_filter_dropdown p:hover,
  .evo-sort-btn .eventon_sort_line p:hover {
    border-bottom: 2px solid $light-red;
    color: $light-red;
    border-left: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}



/*=============================================
=            EventOn single page            =
=============================================*/
#calendar,
.single-ajde_events {
  .evcal_cblock .evo_end {
    padding-left: 15px;
    opacity: .5;
  }
}

#evcal_list .eventon_list_event .evcal_cblock,
.evo_lightboxes .evo_pop_body .evcal_cblock {
  color: #fff;
  display: flex;
  align-items: center;
}


.single-ajde_events {

  .eventon_events_list .eventon_list_event .evcal_desc .evcal_desc_info,
  .evo_pop_body .evcal_desc .evcal_desc_info {
    display: none;
  }

  .evose_repeat_header .ri_nav {
    background-color: $background;
  }

  .evo_sin_page #evcal_list .eventon_list_event {
    margin-bottom: 4rem;
    padding-bottom: 0;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    ;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .wp-block-columns {
    .wp-block-column:nth-of-type(1) {
      margin-left: 0;
    }
  }

  .desc_trig_outter {
    position: relative;

    &:before {
      content: "";
      background-image: url(img/background-blur.png);
      position: absolute;
      background-size: 100% 100%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: inline-block;
      z-index: 1;
    }
  }

  #evcal_list .eventon_list_event .evcal_cblock,
  .evo_lightboxes .evo_pop_body .evcal_cblock {
    color: #fff;
  }

  .fa-align-justify:before {
    display: none;
  }

  .evose_repeat_header span.title,
  .eventon_main_section .ajde_evcal_calendar .calendar_header {
    display: none;
  }

  .evose_repeat_header .ri_nav a,
  .evose_repeat_header .ri_nav a:visited,
  .evose_repeat_header .ri_nav a:hover {
    color: $main_color;
    font-size: 16px;
    text-transform: none;
  }

  .fa-angle-right:before,
  .fa-angle-left:before {
    content: "" !important;
    background-image: url('img/btn-link-arrow-dark.svg');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 100%;
    width: 35px;
    height: 11px;
  }

  .fa-angle-left:before {
    transform: rotateY(180deg);
    position: relative;
    left: -8px;
  }

  .evose_repeat_header .ri_nav b {
    border: none;
  }

  .eventon_events_list .eventon_list_event .evcal_cblock .evo_start em {
    @include fluid-type(font-size, 320px, 990px, 50px, 60px);

  }

  .evcal_cblock .evo_start em.month,
  .evcal_cblock .evo_start em.day {
    @include fluid-type(font-size, 320px, 990px, 26px !important, 30px !important);
    opacity: .5;
  }

  .evcal_cblock .evo_end em.month,
  .evcal_cblock .evo_end em.day {
    font-size: 20px;
    opacity: .5;
  }

  .evcal_cblock .evo_end em.date {
    margin-bottom: 0;
    font-size: 24px;
    opacity: .5;
  }

  #evcal_list .eventon_list_event .evcal_desc em,
  .evo_lightboxes .evcal_desc em {
    color: #fff;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
  }

  .evcal_desc .evcal_desc3 em i {
    color: #fff;
    font-style: normal;
    font-size: 14px;
  }

  .evcal_cblock .evo_start em.date {
    margin-bottom: 0;
  }

  .eventon_events_list .eventon_list_event .evcal_list_a {
    min-height: 100%;
    padding: 2rem;
  }

  #evcal_list .eventon_list_event .evcal_desc span.evcal_event_title {
    @include fluid-type(font-size, 320px, 990px, 20px, 36px);
    font-family: $main_font;
    color: #fff;
    margin-bottom: 1rem;
  }

  .eventon_events_list .eventon_list_event .evcal_desc span.evcal_event_subtitle,
  .evo_lightboxes .evo_pop_body .evcal_desc span.evcal_event_subtitle {
    color: #fff;
    @include fluid-type(font-size, 320px, 990px, 14px, 18px);
    margin-bottom: 1rem;
  }

  .eventon_events_list .eventon_list_event .evcal_cblock,
  .evo_pop_body .evcal_cblock {
    @include fluid-type(left, 320px, 768px, 1rem, 3rem);
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }

  .eventon_events_list .eventon_list_event .evcal_desc,
  .evo_pop_body .evcal_desc,
  #page-content p.evcal_desc {
    @include fluid-type(padding-left, 320px, 600px, 8rem, 10rem);

  }

  .eventon_events_list .eventon_list_event .evcal_desc .evcal_location {
    display: none;
  }

  .evcal_evdata_row .evcal_evdata_cell h3 {
    @include fluid-type(font-size, 320px, 1200px, 25px, 30px);
    @include fluid-type(line-height, 320px, 1200px, 28px, 33px);
  }

  .evcal_evdata_row.evcal_event_details .evcal_evdata_cell p {
    font-size: 16px !important;
    color: $main_color;
    line-height: 21px;
  }

  .evcal_evdata_row .evcal_evdata_cell p {
    font-style: normal;
    font-size: 14px !important;
    color: $main_color;
  }

  .evo_metarow_time.evorow.bordb h3 a,
  .evo_metarow_time.evorow.bordb h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3 a {
    font-size: 22px;
    text-transform: uppercase;
    padding-bottom: 0;
  }

  .evcal_evdata_row .evcal_evdata_icons i,
  .evcal_evdata_row .evcal_evdata_custometa_icons i {
    position: relative;
    top: 7px;
    right: -9px;
    color: $main_color;
    font-size: 16px;
  }

  .evcal_evdata_row.evcal_event_details .evcal_evdata_cell {
    padding-left: 0;
  }

  .evcal_event_details {
    padding: 2rem;
  }

  .eventon_events_list .eventon_list_event .evcal_list_a {
    border: none;
  }

  .evcal_evdata_row .evcal_evdata_cell {

    h1,
    h2 {
      @include fluid-type(font-size, 320px, 1200px, 30px, 48px);
      @include fluid-type(line-height, 320px, 1200px, 33px, 48px);
    }

    h3 {
      @include fluid-type(font-size, 320px, 1200px, 25px, 30px);
      @include fluid-type(line-height, 320px, 1200px, 28px, 33px);
    }

    h4 {
      @include fluid-type(font-size, 320px, 1200px, 23px, 26px);
      @include fluid-type(line-height, 320px, 1200px, 25px, 33px);
    }

    h5 {
      @include fluid-type(font-size, 320px, 1200px, 18px, 22px);
      @include fluid-type(line-height, 320px, 1200px, 22px, 28px);
    }

    h6 {
      @include fluid-type(font-size, 320px, 1200px, 18px, 20px);
      @include fluid-type(line-height, 320px, 1200px, 22px, 26px);
      font-family: $title-font;
    }

    h3,
    h4,
    h5,
    h6 {
      padding-bottom: 0;
    }
  }

  #evcal_list .eventon_list_event .evcal_eventcard p,
  .ajde_evcal_calendar .eventon_events_list .eventon_desc_in ul,
  .evo_lightboxes .evo_pop_body .evcal_evdata_row .evcal_evdata_cell p,
  .evo_lightboxes .evcal_evdata_cell p a {
    font-size: 16px;
    color: $main-color;
  }

  .evcal_evdata_row .eventon_full_description .evo_h3 {
    display: none;
  }
}




/*----------  EventOn categories style  ----------*/

.single-ajde_events {


  .eventon_events_list .eventon_list_event .desc_trig,
  .evopop_top {
    background-color: #90ABAC;
  }

  .eventon_events_list .eventon_list_event .desc_trig:hover {
    background-color: #90ABAC;
  }


  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3 .about,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3 a {
    color: $dark-green !important;
    text-transform: uppercase;

  }


  .evcal_evdata_row .evcal_evdata_cell {

    h3,
    h4,
    h5,
    h6,
    strong {
      color: #90ABAC;
      text-transform: none;

    }

    h1,
    h2 {
      color: #90ABAC;
      margin-bottom: 3rem;
    }
  }

  .evcal_evdata_row .evcal_evdata_cell .eventon_desc_in h3 {
    padding-left: 0;
  }

}

.event_type-anbetungen {

  .eventon_events_list .eventon_list_event .desc_trig,
  .evopop_top {
    background-color: $orange;
  }

  .eventon_events_list .eventon_list_event .desc_trig:hover {
    background-color: $orange;
  }

  .evcal_evdata_row .evcal_evdata_cell {

    h3,
    h4,
    h5,
    h6,
    strong {
      color: $orange;
      text-transform: none;
    }

    h1,
    h2 {
      color: #BE6748;
      margin-bottom: 3rem;
    }
  }

  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3 .about,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3 a {
    color: #BE6748 !important;
    text-transform: uppercase;
  }
}

.event_type-gottesdienste {

  .eventon_events_list .eventon_list_event .desc_trig,
  .evopop_top {
    background-color: $light-red;
  }

  .eventon_events_list .eventon_list_event .desc_trig:hover {
    background-color: $light-red;
  }

  .evcal_evdata_row .evcal_evdata_cell {

    h3,
    h4,
    h5,
    h6,
    strong {
      color: $light-red;
      text-transform: none;
    }

    h1,
    h2 {
      color: $dark-red;
      margin-bottom: 3rem;
    }
  }

  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3 {
    color: $dark-red !important;
    text-transform: uppercase;
  }
}


.event_type-beichte {

  .eventon_events_list .eventon_list_event .desc_trig,
  .evopop_top {
    background-color: $dark-green;
  }

  .eventon_events_list .eventon_list_event .desc_trig:hover {
    background-color: $dark-green;
  }

  .evcal_evdata_row .evcal_evdata_cell {

    h3,
    h4,
    h5,
    h6,
    strong {
      color: $dark-green;
      text-transform: none;
    }

    h1,
    h2 {
      color: $main-color;
      margin-bottom: 3rem;
    }
  }

  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time.evorow.bordb .evcal_evdata_cell h3 a,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3,
  .evo_metarow_time_location.evorow.bordb .evcal_evdata_cell h3 a {
    color: $main-color !important;
    text-transform: uppercase;
  }
}





/*=============================================
=            LOADER            =
=============================================*/

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -55px 0 0 -55px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light-green;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light-green;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $light-green;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: $background;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);
  /* IE 9 */
  transform: translateX(-100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);
  /* IE 9 */
  transform: translateX(100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #222222;
}


/*----------  Timeline history   ----------*/

.history-slider-wrap.container {
  max-width: 1100px;
  padding-bottom: 100px;
  overflow: hidden;

  li {
    &:before {
      display: none;
    }
  }
}

.timeline-history {
  max-width: 830px;
  @include push--auto;

  p {
    font-size: 14px;
  }

  .wpostahs-slider-design-2 .wpostahs-centent {
    max-width: inherit;
  }

  .horizontal-shape {
    &:before {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      right: -15px;
    }
  }

  .horizontal-shape,
  .red-frame {
    &:before {
      display: none;
    }
  }

  .horizontal-cart {
    min-height: 270px;
    .inner-content {
      padding: 2.5rem;
    }
  }
  
  .red-frame {
    &:before {
      width: 49%;
      height: 84%;
      top: -10px;
      right: -10px;
      background-image: url('img/red-right-shape.svg');
    }
  }

  .image {
    min-height: 260px;
  }
}


/******* HORIZONTAL HISTORY SLIDER
************************************/

.cd-horizontal-timeline {
  opacity: 0;
  margin: 2em auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.cd-horizontal-timeline::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}

.cd-horizontal-timeline.loaded {
  /* show the timeline after events position has been set (using JavaScript) */
  opacity: 1;
}

.cd-horizontal-timeline .timeline {
  position: relative;
  margin: 0 auto 5rem auto;
}

.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 54px;
  overflow: hidden;
}

.cd-horizontal-timeline {
  position: relative;
}

.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 1px;
  /* width will be set using JavaScript */
  background: $dark-green;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cd-horizontal-timeline ol,
.cd-horizontal-timeline li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $light-red;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 16px;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
  background-image: url('img/history-dark-circle.svg');
}

.cd-horizontal-timeline .events .older-event::after {
  background-image: url('img/history-red-circle.svg');
}

.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: $light-red;
}

.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
  color: $light-red;
  font-weight: 600;
}

.cd-horizontal-timeline .events a.selected::after {
  background-image: url('img/history-red-circle.svg');
}

.main-content-inner {
  position: relative;
}

.cd-timeline-navigation {
  position: absolute;
  z-index: 20;
  bottom: -50px;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  left: 0;

  a {
    width: 20px;
    margin: 0 30px;
    display: inline-block;
  }
}

.cd-timeline-navigation a.next {
  right: 0;
}

.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}

.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  min-height: 400px;
}

.cd-horizontal-timeline .events-content ol {
  position: relative;
}

.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.cd-horizontal-timeline .events-content li.enter-right,
.cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}

.cd-horizontal-timeline .events-content li.enter-left,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}

.cd-horizontal-timeline .events-content li.leave-right,
.cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}

.cd-horizontal-timeline .events-content li>* {
  max-width: 800px;
  margin: 0 auto;
}

@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline {
    margin: 6em auto;
  }

  .cd-horizontal-timeline::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}

@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}

@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}